.info-titan{
    display: flex;
   
    flex-direction: column;

}
.card-titan {
    margin:1em;
}
.title-titan{
    margin-top: 3em;
    text-align: center;

}
.power{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1em;
}
.start{
    padding-left: 0.5em;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1.5em;
}

.power>img{
    
    margin-left: 0.6em;
}

.img-titan{
    border-radius: 9px;
}

.content{
    margin-top: 1em;
}

.left{
    text-align: left;
}